# dependencies
node_modules/
packages/*/package-lock.json
*/package-lock.json

# build, test
coverage/
dist/
build/
*.tsbuildinfo

# logs
npm-debug.log
lerna-debug.log

# ide
.idea
*.sublime-*
eb-versions

# misc
.DS_Store
.env
.eslintcache
.cache
