# dependencies
node_modules/
packages/*/package-lock.json
package-lock.json

# build and test
packages/*/dist/
coverage/
dist/
out/

# logs
npm-debug.log
lerna-debug.log

# ide
.idea
*.sublime-*
eb-versions

# misc
.DS_Store
.npmrc
